#start {
    height: 95vh;
    /* Config BG image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    place-items: center;
    align-items: center;

    /* Center content */
    text-align: center;
}

#start h1 {
    font-size: 90px;
    margin-bottom: 35px;
    text-shadow: 2px 2px 20px rgb(94, 142, 214);
    color:#fff
}

#start .btn {
    font-size: 30px;
    
}

pre {
    background-color: rgb(27, 27, 27);
    border-radius: 5px;
    color: #fff;
    padding: 15px;
}

@media (min-width: 768px) {
    #start {
        background-image: url("../img/bg-desktop.jpg");
    }
}

@media (max-width: 768px) {
    #start {
        background-image: url("../img/bg-mobile.jpg");
    }
    #start h1 {
        font-size: 80px;
    }
    #start .btn {
        font-size: 30px;
    }
}