{% extends "../base.html" %}

{% block content %}
  <div class="container mt-3">
    {% if lessons|length > 0 %}
    <h1>Listado de Clases</h1>
    <ul class="list-group">
      {% for lesson in lessons %}
      <li class="list-group-item">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><a href="./{{lesson.filename}}">{{lesson.title}}</a></div>
          <span>{{lesson.date}}  ({{lesson.topic}})</span>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <h2>Aún no hay clases disponibles</h2>
    {% endif %}
  </div>
{% endblock content %}