{% extends "../base.html" %}

{% block content %}
  <div class="container mt-3">
    {% if tasks|length > 0 %}
    <h1>Listado de Tareas</h1>
    <ul class="list-group">
      {% for task in tasks %}
      <li class="list-group-item">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><a href="./{{task.id}}">{{task.title}}</a></div>
          {{task.upload_date}}
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <h2>Aún no hay tareas asignadas</h2>
    {% endif %}
  </div>
{% endblock content %}