{% extends "../base.html" %}

{% block content %}
  <div class="container mt-3">
    <h1>Listado de temas</h1>
    <hr />
    <span>
        Estos son los temas que se abordarán
        a lo largo del ciclo lectivo
    </span>
    <h2>Conceptos Base</h2>
    <ul>
        <li>Sistemas Computacionales</li>
        <ul>
            <li>Definición</li>
            <li>Elementos que lo componen</li>
            <li>Datos</li>
        </ul>
    </ul>
    <h2>Proyecto</h2>
    <ul>
        <li>Etapas de un proyecto</li>
        <ul>
            <li>Análisis</li>
            <li>Planificación</li>
            <li>Diseño</li>
            <li>Pruebas e Implementación</li>
            <li>Deploy</li>
        </ul>
        <li>Documentación</li>
        <ul>
            <li>Formato</li>
            <li>Herramientas para documentar</li>
        </ul>
        <li>Modelo Entidad-Relación</li>
        <ul>
            <li>MER como herramienta para planificar un sistema</li>
            <li>Características</li>
            <li>Resolución de escenarios usando MER</li>
        </ul>
    </ul>
    <h2>Diseño</h2>
    <ul>
        <li>Lenguaje de programación</li>
        <ul>
            <li>Presentacion de lenguaje de programación</li>
            <ul>
                <li>Sintaxis y semántica</li>
            </ul>
            <li>Tipos de datos</li>
            <ul>
                <li>Datos primitivos y compuestos</li>
                <li>Variables y asignación de valores</li>
            </ul>
            <li>Estructuras de programación</li>
            <ul>
                <li>Instrucciones de control de flujo</li>
                <li>Bucles</li>
                <li>Manejo de excepciones o errores</li>
            </ul>
            <li>Funciones</li>
            <ul>
                <li>Definicion y llamado de funciones</li>
                <li>Parámetros y valores de retorno</li>
                <li>Scope de las variables</li>
            </ul>
        </ul>
        <li>Programación Orientada a Objetos</li>
        <ul>
            <li>Coceptos básicos</li>
            <ul>
                <li>Clases</li>
                <li>Objetos</li>
                <li>Métodos</li>
                <li>Herencia</li>
                <li>Polimorfismo</li>
            </ul>
        </ul>
        <li>Desarrollo backend</li>
        <ul>
            <li>Características</li>
            <li>Separación front/back</li>
        </ul>
        <li>Empleo de framework</li>
        <ul>
            <li>Definicion de framework</li>
            <li>Arquitectura de framework</li>
            <li>Instalación y configuración</li>
            <li>Uso de un framework</li>
            <ul>
                <li>Modelo de Datos</li>
                <li>Vistas y controladores</li>
                <li>Rutas</li>
                <li>Manejo de archivos</li>
                <li>Despliegue</li>
            </ul>
        </ul>
    </ul>
    <h2>Implementación</h2>
    <ul>
        <li>Testing</li>
        <ul>
            <li>Tipos de pruebas</li>
        </ul>
        <li>Empaquetado</li>
        <li>Hosting</li>
    </ul>
    <h2>Perfil programador</h2>
    <li>Tipos de perfiles laborales</li>
    <li>Roles y responsabilidades de cada perfil</li>
    <li>Mercado laboral en el software</li>
  </div>
{% endblock content %}